/* main settings */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(105, 105, 206);
    font-size: 30;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
}

/* alignment for main page only */
#main-page {
   text-align: center;
   list-style: none;
}

.main-page {
    text-align: center;
 }

.recipe-name {
    text-align: center;
    font-weight: 800;
}

img {
    display: block;
    margin: 0 auto;
}
h3 , p {
    text-align: center;
} 

a {
    color: white;
}
a:hover {
    border: 1px solid black;
    color: white;
    background-color: rgb(103, 111, 212);
    text-decoration: none;
}

.list {
    display: block;
    margin: 20px;
}

